.App {
  font-family: "Be Vietnam Pro", sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 11px;
  margin: 10px 0;
  color: lightgrey;
}

.App a {
  color: rgb(151, 151, 151);
}
