.Weather {
  border: 1px solid #dadde1;
  font-weight: 200;
  color: #878787;
  padding: 16px;
  margin: 30px auto 15px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather img {
  height: 88px;
  display: inline-block;
  position: relative;
  top: -19px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: black;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -36px;
  margin-right: 5px;
  line-height: 1;
  font-weight: 400;
  color: #878787;
}

.Weather .unit a {
  text-decoration: none;
  color: lightgrey;
}

.float-left {
  display: inline;
  color: #878787;
}
