.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast-icon img {
  height: 64px;
  display: inline-block;
  position: relative;
  top: -9px;
}
